* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */

header {
    background-image: url(/images/banner/banner3.png);
    background-repeat: no-repeat;

    text-align: right;
    float: right;
}

.header-content {
    border: 1px solid red;
    width: 525px;
    margin: 216px 130px 156px 880px;
}

.header-title {
    color: #FFF;
    font-size: 65px;
    font-weight: 700;
    /* width: 525px; */
}

.header-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    /* width: 520px; */
    margin: 30px 0;
    line-height: 26px;
}

.btn {
    height: 64px;
    /* width: 160px; */
    border-radius: 5px;
    background-color: #FFF;
    padding: 21px 25px;
    border: 0;
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
}

/* main styles */
main {
    /* margin-top: 135px; */
    /* width: 950px;
    border: 1px solid red;
    margin: 0 auto; */
}

/* failures styels */
/* section{
    width: 950px;
    border: 1px solid red;
} */
.failures-content {
    display: flex;
    gap: 24px;
    margin: 0 auto;
    width: 950px;
    border: 1px solid red;
    align-items: center;
    padding-top: 135px;
    margin-bottom: 135px;
}
.section-title{
    font-size: 45px;
    font-weight: 700;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}
.check-color {
    color: #16D887;
}

.check-box {
    margin-top: 15px;
}